html, body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
}

/* Overwrite header margins present in Material UI styles */
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/* header styles */

.App-header {
  background-color: #EEEEEE;
  height: 40px;
  padding: 10px;
  display: flex;
}

.App-title {
  flex-wrap: wrap;
  font-size: 16px;
  margin-top: 0.5em;
}

.Header-year {
  float: right;
  font-size: 36px;
  position: absolute;
  right: 0.5em;
}

.year-span {
  color: #ffffff;
  -webkit-text-stroke: 0.5px #979797;
}

/* end header styles */

/* footer styles */

.App-footer {
  background-color: #EEEEEE;
  height: 50px;
  padding: 10px;
  padding-top: 15px;
  color: white;
}

/* end footer styles */

/* main content styles */

.content {
  height: calc(100% - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
}

.form-main-div {
  width: 95%;
  margin: auto;
  margin-bottom: 1em;
}

.field-group {
  padding: 10px;
  padding-top: 20px
}

.field-separator {
  padding-bottom: 10px;
}

.form-table td {
  padding: 0 !important;
}

.small-text-field {
  width: 15% !important;
  border-width: 0.5px;
  border-style: solid;
  border-color: #dbe3eb;
}

.large-text-field {
  width: 84% !important;
  border-width: 0.5px 0.5px 0.5px 0;
  border-style: solid;
  border-color: #dbe3eb;
}

.divider {
  width: 99%;
}

/* end main content styles */

/* styles applicable only to large(non-mobile) screens */
@media screen and (min-width: 768px) {

  /* Larger Header text for big screens */
  .Header-year {
    font-size: 48px !important;
    margin-top: -0.1em;
  }

  .App-title {
    font-size: 36px;
    margin-top: 0;
  }

   /* Provide 'flex' view in part-2 and part-3 of Form
      to accomodate two divs next to each other. */
  .form-2-content {
    display: flex;
  }

  .form2-div-1 {
    width: 40%;
  }

  .form2-div-2 {
    width: 60%;
    margin-left: 1em;
  }

  .form-3-content {
    display: flex;
  }

  .form3-div-1 {
    width: 50%;
  }

  .form3-div-2 {
    width: 50%;
    margin-left: 1em;
  }

  /* limit footer buttons width */
  .footer-btns {
    width: 75%;
    margin: auto;
  } 

   /* Help-btn margin for big screens */
  .help-btn {
    margin-top: -5px !important;
  }

}

/* end large-screen styles */

/* custom scrollbar styles */

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #555;
}

/* end custom scrollbar styles */